.homePageText{
  padding-top: 75px;
  text-align: center;
}
.homePageButton{
  padding-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#map {
  min-height: 100vh;
 }
